<header class="calculator-header p-5 flex items-center justify-between z-50 top-0 left-0 w-full">
  <h1 class="text-gray-800 text-3xl mx-auto">Calculators</h1>
</header>

<div class="flex flex-1 flex-col p-5">
  <ul class="flex flex-col gap-5">

    <%= link_to categories_path, class: 'block' do %>
      <li class="flex items-center justify-between px-6 py-14 shadow-md border-2 rounded-lg space-x-6"
          data-controller="card"
          data-action="click->card#handleClick"
          data-url="<%= calculators_abv_path %>">
        <div class="category-content flex flex-col items-center mr-5">
          <h3 class="text-2xl">ABV</h3>
        </div>
        <div class="icon flex justify-center w-30">
          <i class="fa-solid fa-percent text-4xl mr-2"></i>
        </div>
      </li>
    <% end %>

    <%= link_to calculators_index_path, class: 'block' do %>
      <li class="flex items-center justify-between px-6 py-14 shadow-md border-2 rounded-lg space-x-6"
          data-controller="card"
          data-action="click->card#handleClick"
          data-url="<%= calculators_density_correction_path %>">
        <div class="category-content flex flex-col items-center mr-5">
          <h3 class="text-2xl">Density correction</h3>
        </div>
        <div class="icon flex justify-center w-30">
          <i class="fa-solid fa-vial-circle-check text-4xl"></i>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<footer class="bg-white p-2 flex items-center justify-center fixed bottom-0 w-1/2 left-1/2 transform -translate-x-1/2 shadow-top z-10 rounded-md">
  <div class="self-center">
    <%= link_to root_path, class: '' do %>
      <%= image_tag cl_image_path("brewery_inventory/back"), class: 'w-14' %>
    <% end %>
  </div>
</footer>
