<header class="home-header p-5 flex items-center justify-between z-50 top-0 left-0 w-full">
  <h1 class="text-gray-800 text-3xl mx-auto">Home Brewing</h1>
</header>

<div class="flex flex-1 flex-col p-5">
  <ul class="flex flex-col gap-5">

    <%= link_to categories_path, class: 'block' do %>
      <li class="flex items-center justify-between p-6 shadow-md border-2 rounded-lg space-x-6"
          data-controller="card"
          data-action="click->card#handleClick"
          data-url="<%= categories_path %>">
        <div class="category-content flex flex-col items-center mr-5">
          <h3 class="text-2xl">Inventory</h3>
        </div>
        <div class="icon flex justify-center w-30">
          <img src="<%= cl_image_path("brewery_inventory/inventory-icon") %>" class="w-28 h-28">
        </div>
      </li>
    <% end %>

    <%= link_to calculators_index_path, class: 'block' do %>
      <li class="flex items-center justify-between p-6 shadow-md border-2 rounded-lg space-x-6"
          data-controller="card"
          data-action="click->card#handleClick"
          data-url="<%= calculators_index_path %>">
        <div class="category-content flex flex-col items-center mr-5">
          <h3 class="text-2xl">Calculators</h3>
        </div>
        <div class="icon flex justify-center w-30">
          <img src="<%= cl_image_path("brewery_inventory/calculator-icon") %>" class="w-28 h-28 mr-0.5">
        </div>
      </li>
    <% end %>
  </ul>
</div>
