<%= form_with(model: [@category, @item], local: true) do |form| %>

  <header class="hops-header p-5 flex items-center justify-between z-50 top-0 left-0 w-full -my-2">
    <div class="">
      <%= form.text_field :name, placeholder: 'Hop name', class: "text-gray-800 border-transparent focus:border-transparent focus:ring-transparent text-3xl border-none bg-transparent text-center w-full" %>
    </div>
  </header>

  <div class="container p-4 relative bg-white z-10 content-container text-lg">
    <div class="grid grid-cols-2 gap-4">
      <div class="rows-span-2 relative">
        <%= form.label :quantity, class: 'block' %>
        <div class="flex items-center">
          <%= form.number_field :quantity, value: @item.quantity.to_i, step: 'any', placeholder: '0', class: 'w-full text-4xl font-semibold rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 py-11' %>
          <div class="absolute right-3 pt-4 text-black">g</div>
        </div>
      </div>

      <div class="grid grid-rows-2 gap-3 rows-span-1">
        <div class="mb-1.5 relative">
          <%= form.label :price, 'Price (100g)', class: 'block' %>
          <div class="flex items-center">
            <div class="absolute left-2 text-black">$</div>
            <%= form.number_field :price, placeholder: '0', value: @item.price.to_i, class: 'w-full pl-5 rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2', step: 'any', id: 'price_field' %>
          </div>
        </div>

        <div class="">
          <%= form.label :alpha, 'Alpha (%)', class: 'block' %>
          <%= form.number_field :alpha, step: '0.1', value: (@item.alpha % 1 == 0 ? @item.alpha.to_i : @item.alpha.to_s.gsub(',', '.')), placeholder: '-', class: 'w-full rounded-md border-gray-300 p-2 focus:border-gray-600 focus:ring-gray-500' %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="">
        <%= form.label :origin %>
        <%= form.text_field :origin, placeholder: 'Enter origin country', class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
      </div>

      <div class="">
        <%= form.label :supplier %>
        <%= form.text_field :supplier, placeholder: 'Enter supplier name', class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div>
        <%= form.label :item_type, 'Type', class: "block text-lg" %>
        <div class="relative mt-1 !important focus:border-gray-600 focus:ring-gray-500">
          <%= form.select :item_type,
            options_for_select(['Pellet', 'Whole'], @item.item_type),
            prompt: 'Select type',
            class: 'block w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2 text-base focus:ring-indigo-500
                    focus:border-indigo-500 sm:text-sm !important'
          %>
        </div>
      </div>

      <div class="">
        <%= form.label :date, 'Expiring date' %>
        <%= form.date_field :date, value: Date.today, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
      </div>
    </div>


    <div class="col-span-2 mt-4">
      <%= form.label :notes %>
      <%= form.text_area :notes, placeholder: 'Enter additional notes', rows: 4, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-3" %>
    </div>
  </div>

  <footer class="pb-3 flex items-center justify-center fixed bottom-0 mx-40 z-50">
    <div class="flex items-center w-full pl-2 mb-0.5 -ml-3">
      <div class="actions">
        <%= form.submit 'SAVE', class: 'font-bold save-gray text-xl' %>
      </div>
    </div>
  </footer>
<% end %>


<footer class="bg-white p-5 flex items-center justify-between fixed bottom-0 w-1/2 left-1/2 transform -translate-x-1/2 shadow-top z-10 rounded-md">
  <div class="w-8 -mr-1">
    <%= button_to category_item_path(@item.category, @item), method: :delete, data: { confirm: 'Are you sure?' }, class: "flex items-center justify-center" do %>
      <i class="fa-solid fa-trash-can trash w-8 text-xl mt-0.5 -ml-0.5"></i>
    <% end %>
  </div>
  <div class=""></div>
  <div class="-mr-0.5">
    <%= link_to category_path(1), class: '' do %>
      <%= image_tag asset_path('back.png'), class: 'w-8' %>
    <% end %>
  </div>
</footer>
