<h1>Edit Yeast</h1>
<%= link_to "X", category_item_path(@category, @item) %>

<%= form_with(model: [@category, @item], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'Enter hop name' %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, value: @item.quantity.to_i, step: 0.1, placeholder: 'Enter quantity in grams' %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.select :unit, options_for_select(['g', 'ml', 'sachet'], @item.unit), prompt: 'Select unit' %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, value: @item.price.to_i, step: 0.01, placeholder: 'Enter price' %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, placeholder: 'Enter origin country' %>
  </div>

  <div class="field">
    <%= form.label :supplier %>
    <%= form.text_field :supplier, placeholder: 'Enter supplier name' %>
  </div>

  <div class="field">
    <%= form.label :attenuation %>
    <%= form.number_field :attenuation, step: 0.01, placeholder: 'Enter Attenuation' %>
  </div>

  <div class="field">
    <%= form.label :item_type, 'Type' %>
    <%= form.select :item_type, options_for_select(['Ale', 'Lager', 'Hybrid', 'Wheat', 'Wine', 'Champagne', 'Other'], @item.item_type), prompt: 'Select type' %>
  </div>

  <div class="field">
    <%= form.label :form, 'Form' %>
    <%= form.select :form, options_for_select(['Dry', 'Liquid', 'Culture', 'Slurry'], @item.form), prompt: 'Select Form' %>
  </div>

  <div class="field">
    <%= form.label :date, 'Expiring date' %>
    <%= form.date_field :date, value: Date.today %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, placeholder: 'Enter additional notes', rows: 4 %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Yeast', class: 'btn btn-primary' %>
  </div>
<% end %>
