<%= form_with(model: [@category, @item], local: true) do |form| %>

  <header class="hops-header p-5 flex items-center justify-between z-50 top-0 left-0 w-full -my-2">
    <div class="">
      <%= form.text_field :name, placeholder: 'Hop name', class: "text-gray-800 border-transparent focus:border-transparent focus:ring-transparent text-3xl border-none bg-transparent text-center w-full" %>
    </div>
  </header>

  <div class="container p-4 relative bg-white z-10 content-container text-xl">

    <div class="grid grid-cols-2 gap-4">

      <div class="rows-span-2 relative flex flex-col justify-between" data-controller="quantity">
        <%= form.label :quantity, class: 'block' %>
        <div class="flex items-center justify-center mb-20">
          <span id="current-quantity" data-quantity-target="quantityDisplay" class="text-3xl font-semibold"><%= @item.quantity.to_i %> g</span>
        </div>

        <%= form.number_field :quantity, class: "hidden", id: "item_quantity_input", data: {quantity_target: "quantityInput"} %>

        <div class="absolute inset-x-0 bottom-0 flex justify-between w-full">
          <button type="button" data-action="click->quantity#decrease" class="text-2xl text-white px-4 py-2 w-1/2 rounded-bl-md focus:outline-none transition duration-300 m-2 minus-quantity-button">-</button>
          <button type="button" data-action="click->quantity#increase" class="text-2xl text-white px-4 py-2 w-1/2 rounded-br-md focus:outline-none transition duration-300 m-2 plus-quantity-button">+</button>
        </div>

      </div>

      <div class="grid grid-rows-2 gap-3 rows-span-1">
        <div class="mb-2 relative">
          <%= form.label :price, 'Price (100g)', class: 'block' %>
          <div class="flex items-center">
            <div class="absolute left-2 text-black">$</div>
            <%= form.number_field :price, placeholder: '0', value: @item.price.to_i, class: 'w-full pl-5 rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2', step: 'any', id: 'price_field' %>
          </div>
        </div>

        <div class="">
          <%= form.label :alpha, 'Alpha (%)', class: 'block' %>
          <%= form.number_field :alpha, step: '0.1', value: (@item.alpha % 1 == 0 ? @item.alpha.to_i : @item.alpha.to_s.gsub(',', '.')), placeholder: '-', class: 'w-full rounded-md border-gray-300 p-2 focus:border-gray-600 focus:ring-gray-500' %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="">
        <%= form.label :origin %>
        <%= form.select :origin,
            options_for_select(['USA', 'Germany', 'Australia', 'Belgium', 'UK', 'Czech Republic', 'Great Britain', 'New Zealand', 'Poland', 'Slovenia', 'Argentina', 'France', 'Japan'], @item.origin), {},
            placeholder: '-',
            class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2"
            %>
      </div>

      <div class="">
        <%= form.label :supplier %>
        <%= form.text_field :supplier, placeholder: '-', class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div>
        <%= form.label :item_type, 'Type' %>
        <div class="relative mt-1 !important focus:border-gray-600 focus:ring-gray-500">
          <%= form.select :item_type,
            options_for_select(['Pellet', 'Whole'], @item.item_type), {},
            class: 'w-full rounded-md -mt-1 border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2 text-base sm:text-sm appearance-none'
          %>
        </div>
      </div>

      <div class="">
        <%= form.label :date, 'Best Before' %>
        <%= form.date_field :date, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
      </div>
    </div>


    <div class="col-span-2 mt-4">
      <%= form.label :notes %>
      <%= form.text_area :notes, placeholder: 'Enter additional notes', rows: 4, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-3" %>
    </div>

    <div class="substitutes mt-4 mb-24">
      <h3 class="text-lg">Substitutes</h3>
      <% if @substitutes.any? %>
        <ul class="list-inside">
          <% @substitutes.each do |substitute| %>
            <li class="text-gray-600 text-base py-2 border-b border-gray-300 last:border-b-0"><%= substitute %></li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-gray-500 text-base">No substitutes found for this hop.</p>
      <% end %>
    </div>
  </div>

  <footer class="pb-3 flex items-center justify-center fixed bottom-0 mx-40 z-50">
    <div class="flex items-center w-full pl-2 mb-0.5 -ml-2">
      <div class="actions">
        <%= form.submit 'SAVE', class: 'font-bold save-gray text-xl' %>
      </div>
    </div>
  </footer>
<% end %>

<div id="flash">
  <%= render 'item_flash' %>
</div>

<% if @item.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<footer class="bg-white p-5 flex items-center justify-between fixed bottom-0 w-1/2 left-1/2 transform -translate-x-1/2 shadow-top z-10 rounded-md">
  <div class="w-8 -mr-1">
    <%= button_to category_item_path(@item.category, @item), method: :delete, form: {data: { turbo_confirm: 'Are you sure?' }}, class: "flex items-center justify-center" do %>
      <i class="fa-solid fa-trash-can trash w-8 text-xl mt-0.5 -ml-0.5"></i>
    <% end %>
  </div>
  <div class=""></div>
  <div class="-mr-0.5">
    <%= link_to category_path(1), class: '' do %>
      <%= image_tag cl_image_path("brewery_inventory/back"), class: 'w-8' %>
    <% end %>
  </div>
</footer>
