<%= form_with(model: [@category, @item], local: true) do |form| %>

  <header class="yeasts-header p-5 flex items-center justify-between z-50 top-0 left-0 w-full -my-2">
    <div class="">
      <%= form.text_field :name, placeholder: 'Yeast name', class: "text-gray-800 border-transparent focus:border-transparent focus:ring-transparent text-3xl border-none bg-transparent text-center w-full" %>
    </div>
  </header>

  <div class="container p-4 relative bg-white z-10 content-container text-xl">
    <div class="grid grid-cols-2 gap-4">
      <div class="rows-span-2">
        <%= form.label :quantity, class: 'block' %>
        <%= form.number_field :quantity, value: @item.quantity.to_i, placeholder: '0', class: 'w-full text-4xl font-semibold rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 py-11' %>
      </div>

      <div class="grid grid-rows-2 gap-3 rows-span-1">
        <div class="mb-1.5 relative">
          <%= form.label :price, 'Price (sachet)', class: 'block' %>
          <div class="flex items-center">
            <div class="absolute left-2 text-black">$</div>
            <%= form.number_field :price, placeholder: '0', value: @item.price.to_i, class: 'w-full pl-5 rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2', id: 'price_field' %>
          </div>
        </div>

        <div class="field">
          <%= form.label :attenuation, 'Attenuation (%)',class: 'block' %>
          <%= form.number_field :attenuation, step: 0.01, value: number_with_precision(@item.attenuation, precision: (@item.attenuation % 1 == 0 ? 0 : 1)), placeholder: 'Enter Attenuation', class: 'w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2' %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="">
        <%= form.label :origin %>
        <%= form.text_field :origin, placeholder: 'Enter origin country', class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
      </div>

      <div class="">
        <%= form.label :supplier %>
        <%= form.text_field :supplier, placeholder: 'Enter supplier name', class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="">
        <%= form.label :form, 'Form', class: 'block' %>
        <%= form.select :form, options_for_select(['Dry', 'Liquid', 'Culture', 'Slurry'], @item.form), {},
                              prompt: 'Select form',
                              class: 'block w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2 text-base focus:ring-indigo-500
                                      focus:border-indigo-500 sm:text-sm appearance-none'
        %>
      </div>
      <div class="">
        <%= form.label :item_type, 'Type', class: 'block' %>
        <%= form.select :item_type, options_for_select(['Ale', 'Lager', 'Hybrid', 'Wheat', 'Wine', 'Champagne', 'Other'], @item.item_type), {},
                                    prompt: 'Select malt category',
                                    class: 'block w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2 text-base focus:ring-indigo-500
                                            focus:border-indigo-500 sm:text-sm appearance-none'
        %>
      </div>
    </div>

    <div class="mt-4">
      <%= form.label :date, 'Expiring date' %>
      <%= form.date_field :date, value: Date.today, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
    </div>

    <div class="col-span-2 mt-4">
      <%= form.label :notes %>
      <%= form.text_area :notes, placeholder: 'Enter additional notes', rows: 4, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-3" %>
    </div>
  </div>

  <footer class="pb-3 flex items-center justify-center fixed bottom-0 mx-40 z-50">
    <div class="flex items-center w-full pl-2 mb-0.5 -ml-2">
      <div class="actions">
        <%= form.submit 'SAVE', class: 'font-bold save-gray text-xl' %>
      </div>
    </div>
  </footer>
<% end %>

<div id="flash">
  <%= render 'item_flash' %>
</div>

<footer class="bg-white p-5 flex items-center justify-between fixed bottom-0 w-1/2 left-1/2 transform -translate-x-1/2 shadow-top z-10 rounded-md">
  <div class="w-8 -mr-1">
    <%= button_to category_item_path(@item.category, @item), method: :delete, form: {data: { turbo_confirm: 'Are you sure?' }}, class: "flex items-center justify-center" do %>
      <i class="fa-solid fa-trash-can trash w-8 text-xl mt-0.5 -ml-0.5"></i>
    <% end %>
  </div>
  <div class=""></div>
  <div class="-mr-0.5">
    <%= link_to category_path(3), class: '' do %>
      <%= image_tag cl_image_path("brewery_inventory/back"), class: 'w-8' %>
    <% end %>
  </div>
</footer>
