<h1>Edit <%= @item.name %> Malt</h1>
<%= link_to "X", category_item_path(@category, @item) %>

<%= form_with(model: [@category, @item], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'Enter hop name' %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, value: @item.quantity.to_i, step: 0.1, placeholder: 'Enter quantity in grams' %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.select :unit, options_for_select(['g', 'ml'], @item.unit), prompt: 'Select unit' %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, value: @item.price.to_i, step: 0.01, placeholder: 'Enter price' %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, placeholder: 'Enter origin country' %>
  </div>

  <div class="field">
    <%= form.label :supplier %>
    <%= form.text_field :supplier, placeholder: 'Enter supplier name' %>
  </div>

  <div class="field">
    <%= form.label :item_type, 'Form' %>
    <%= form.select :item_type, options_for_select(['Grain', 'Sugar', 'Liquid Extract'], @item.item_type), prompt: 'Select type' %>
  </div>

  <div class="field">
    <%= form.label :item_category, 'Type' %>
    <%= form.select :item_category, options_for_select(['Base', 'Pilsner', 'Pale Ale', 'Mild Ale', 'Vienna', 'Munich',
                                                        'Specialty', 'Acidulated', 'Dextrin', 'Meladoinin', 'Smoked',
                                                        'Crystal/Caramel', 'Crystal', 'Caramel', 'Roasted', 'Amber',
                                                        'Biscuit', 'Brown', 'Black', 'Chocolate', 'Roasted Barley', 'Wheat',
                                                        'Rye'], @item.item_category), prompt: 'Select malt category' %>
  </div>

  <div class="field">
    <%= form.label :potential %>
    <%= form.number_field :potential, value: @item.potential.to_i, step: 0.01, placeholder: 'Enter Potential' %>
  </div>

  <div class="field">
    <%= form.label :yield %>
    <%= form.number_field :yield, step: 0.1, placeholder: 'Enter Yield' %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, value: Date.today %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, placeholder: 'Enter additional notes', rows: 4 %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Malt', class: 'btn btn-primary' %>
  </div>
<% end %>
