<%= form_with(model: [@category, @item], local: true) do |form| %>

  <header class="bg-gray-100 p-6 flex items-center justify-between relative">
    <div class="field text-3xl font-bold mx-auto">
      <%= form.text_field :name, placeholder: 'Enter hop name' %>
    </div>
  </header>

  <div class="container p-6">
    <div class="grid grid-cols-2 gap-4">
      <div class="rows-span-2">
        <%= form.label :quantity, class: 'block' %>
        <%= form.number_field :quantity, value: @item.quantity.to_i, placeholder: 'Enter quantity in grams', class: 'w-full text-4xl font-semibold rounded-md border-gray-300 py-11' %>
      </div>

      <div class="grid grid-rows-2 gap-4 rows-span-1">
        <div class="mb-1.5">
          <%= form.label :price, class: 'block' %>
          <%= form.number_field :price, step: 'any', value: @item.price.to_i, placeholder: 'Price per 100g', class: 'w-full rounded-md border-gray-300 p-2' %>
        </div>

        <div class="">
          <%= form.label :alpha, class: 'block' %>
          <%= form.number_field :alpha, step: '0.1', value: (@item.alpha % 1 == 0 ? @item.alpha.to_i : @item.alpha.to_s.gsub(',', '.')), placeholder: 'Enter alpha percentage', class: 'w-full rounded-md border-gray-300 p-2' %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="">
        <%= form.label :origin %>
        <%= form.text_field :origin, placeholder: 'Enter origin country', class: "w-full rounded-md border-gray-300 p-2" %>
      </div>

      <div class="">
        <%= form.label :supplier %>
        <%= form.text_field :supplier, placeholder: 'Enter supplier name', class: "w-full rounded-md border-gray-300 p-2" %>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="">
        <%= form.label :item_type, 'Type' %>
        <%= form.select :item_type, options_for_select(['Pellet', 'Whole', 'Cryo', 'CO2 Extract'], @item.item_type), prompt: 'Select type', class: "w-full rounded-md border-gray-300 p-2" %>
      </div>

      <div class="">
        <%= form.label :date, 'Expiring date' %>
        <%= form.date_field :date, value: Date.today, class: "w-full rounded-md border-gray-300 p-2" %>
      </div>
    </div>


    <div class="col-span-2 mt-4">
      <%= form.label :notes %>
      <%= form.text_area :notes, placeholder: 'Enter additional notes', rows: 4, class: "w-full rounded-md border-gray-300 p-3" %>
    </div>
  </div>

  <footer class="bg-gray-100 p-3 flex items-center justify-center fixed bottom-0 w-full">
    <div class="flex items-center justify-between w-full px-6">
      <%= button_to category_item_path(@item.category, @item), method: :delete, data: { confirm: 'Are you sure?' }, class: "flex items-center justify-center"  do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
      <div class="actions">
        <%= form.submit 'SAVE', class: 'btn btn-primary' %>
      </div>
      <p><%= link_to "<-", category_path(1), class: 'items-center justify-center' %></p>
    </div>
  </footer>

<% end %>
