<div class="header">
  <h1><%= @item.name %></h1>
  <%= link_to "X", category_path(2) %>
</div>
<div class="item">
  <div class="item-show-card">
    <p>Name: <%= @item.name %></p>
    <p>Quantity: <%= ActiveSupport::NumberHelper.number_to_delimited(@item.quantity.to_i, delimiter: '.') %><%= @item.unit %></p>
    <p>Price: $<%= ActiveSupport::NumberHelper.number_to_delimited(@item.price.to_i, delimiter: '.') %></p>
    <p>Origin: <%= @item.origin %></p>
    <p>Supplier: <%= @item.supplier %></p>
    <p>Form: <%= @item.item_type %></p>
    <p>Type: <%= @item.item_category %></p>
    <p>Expiring date: <%= @item.date %></p>
    <p>Potential: <%= ActiveSupport::NumberHelper.number_to_delimited(@item.potential.to_i, delimiter: '.') %> PPG</p>
    <p>Yield: <%= ActiveSupport::NumberHelper.number_to_delimited(@item.yield, delimiter: '.') %>%</p>
    <p>Notes: <%= @item.notes %></p>
  </div>
</div>
<%= button_to "Delete Malt", category_item_path(@item.category, @item), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "Edit Malt", edit_category_item_path(@category, @item) %>
