<%= form_with(model: [@category, @item], local: true) do |form| %>

  <header class="yeasts-header p-5 flex items-center justify-between z-50 top-0 left-0 w-full -my-2">
    <div class="">
      <%= form.text_field :name, placeholder: 'Yeast name', required: true, class: "text-gray-800 border-transparent focus:border-transparent focus:ring-transparent text-3xl border-none bg-transparent text-center w-full" %>
    </div>
  </header>

  <div class="container p-4 relative bg-white z-10 content-container text-lg">
    <div class="grid grid-cols-2 gap-4">
      <div class="rows-span-2 relative">
        <%= form.label :quantity, class: 'block' %>
        <%= form.number_field :quantity, placeholder: '0', required: true, class: 'w-full text-4xl font-semibold rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 py-11' %>
      </div>

      <div class="grid grid-rows-2 gap-3 rows-span-1">
        <div class="mb-1.5">
          <%= form.label :price, 'Price (sachet ~11g)', class: 'block' %>
          <%= form.number_field :price, placeholder: '$0', required: true, class: 'w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2' %>
        </div>

        <div class="field">
          <%= form.label :attenuation, class: 'block' %>
          <%= form.number_field :attenuation, step: 0.01, min: 60, max: 85, required: true, placeholder: '%', class: 'w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2' %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="">
        <%= form.label :origin %>
        <%= form.text_field :origin, placeholder: '-', required: true, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
      </div>

      <div class="">
        <%= form.label :supplier %>
        <%= form.text_field :supplier, placeholder: '-', required: true, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="">
        <%= form.label :form, 'Form', class: 'block' %>
        <%= form.select :form, options_for_select(['Dry', 'Liquid', 'Culture', 'Slurry'], @item.form), {},
                               prompt: '-',
                               class: 'block w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2 text-base sm:text-sm',
                               required: true
        %>
      </div>
      <div class="">
        <%= form.label :item_type, 'Type', class: 'block' %>
        <%= form.select :item_type, options_for_select(['Ale', 'Lager', 'Hybrid', 'Wheat', 'Wine', 'Champagne', 'Other'], @item.item_type), {},
                                    prompt: '-',
                                    class: 'block w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2 text-base sm:text-sm',
                                    required: true
        %>
      </div>
    </div>

    <div class="mt-4">
      <%= form.label :date, 'Best before' %>
      <%= form.date_field :date, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-2" %>
    </div>

    <div class="col-span-2 mt-4">
      <%= form.label :notes %>
      <%= form.text_area :notes, placeholder: '-', rows: 4, class: "w-full rounded-md border-gray-300 focus:border-gray-600 focus:ring-gray-500 p-3" %>
    </div>
  </div>

  <footer class="pb-3 flex fixed bottom-0 mx-40 z-50">
    <div class="flex w-full mb-0.5 -ml-7">
      <div class="actions">
        <%= form.submit 'ADD', class: 'font-bold save-gray text-xl' %>
      </div>
    </div>
  </footer>

<% end %>

<footer class="bg-white p-4 flex items-end justify-end fixed bottom-0 w-1/2 left-1/2 transform -translate-x-1/2 shadow-top z-10 rounded-md">
  <div class="mr-5">
    <%= link_to category_path(3), class: '' do %>
      <%= image_tag cl_image_path("brewery_inventory/back"), class: 'w-10' %>
    <% end %>
  </div>
</footer>
