<% items.sort_by { |item| item.origin }.each do |item| %>
  <li data-controller="card"
      data-action="click->card#handleClick"
      data-url="<%= edit_category_item_path(category, item)%>">
    <%= link_to edit_category_item_path(category, item), class: 'block' do %>
      <% if item.category.name == 'Hops' %>
        <%= render 'categories/hops_index', item: item %>
      <% elsif item.category.name == 'Malts' %>
        <%= render 'categories/malts_index', item: item %>
      <% elsif item.category.name == 'Yeasts' %>
        <%= render 'categories/yeasts_index', item: item %>
      <% end %>
    <% end %>
  </li>
<% end %>
