<div class="flex flex-col p-4 rounded-lg border-2 relative">
  <div class="item-card-title text-xl">
    <h2><%= item.name %></h2>
  </div>
  <div class="item-card-data flex flex-row gap-2 text-gray-400">
    <div>
      <p><%= number_with_precision(item.alpha, precision: (item.alpha % 1 == 0 ? 0 : 1))%>%</p>
    </div>
    <div>-</div>
    <div><p><%= item.item_type %></p></div>
    <div>-</div>
    <div><p><%= item.origin %></p></div>
  </div>

  <div class="absolute top-0 right-0 p-2">
    <img src="<%= case item.alpha
            when 1..5
              cl_image_path("brewery_inventory/hop-low")
            when 6..10
              cl_image_path("brewery_inventory/hop-medium-light")
            when 11..15
              cl_image_path("brewery_inventory/hop-medium-dark")
            else
              cl_image_path("brewery_inventory/hop-high")
            end %>" alt="Hop" class="item-icon" />
  </div>
</div>
