<footer class="bg-white p-3 flex items-center justify-center space-x-7 fixed bottom-0 left-1/2 transform -translate-x-1/2 shadow-top z-10 rounded-md w-1/2">
  <div class="">
    <%= link_to hops_search_path, class: '' do %>
      <%= image_tag cl_image_path("brewery_inventory/replace3"), class: 'w-10' %>
    <% end %>
  </div>
  <div class="">
    <%= link_to new_category_item_path(@category), class: "w-20" do %>
      <%= image_tag case @category.name
                    when 'Hops'
                      cl_image_path("brewery_inventory/hop-new")
                    when 'Malts'
                      cl_image_path("brewery_inventory/malt-new")
                    else
                      cl_image_path("brewery_inventory/yeast-new")
                    end,
                    class: "mx-auto w-14" %>
    <% end %>
  </div>
  <div class="">
    <%= link_to root_path, class: '' do %>
      <%= image_tag cl_image_path("brewery_inventory/back"), class: 'w-10' %>
    <% end %>
  </div>
</footer>
