<div class="flex flex-col p-4 rounded-lg border-2 relative"
     data-controller="card"
     data-action="click->card#handleClick"
     data-url="<%= edit_category_item_path(@category, item)%>">
  <div class="item-card-title text-xl">
    <h2><%= item.name %></h2>
  </div>
  <div class="item-card-data flex flex-row gap-2 text-gray-400">
    <div>
      <p><%= number_with_delimiter(number_with_precision(item.quantity, precision: (item.quantity % 1 == 0 ? 0 : 1)), delimiter: ".") %>g</p>    </div>
    <div>-</div>
    <div><p><%= item.supplier %></p></div>
    <div>-</div>
    <div><p><%= item.origin %></p></div>
  </div>

  <div class="absolute top-0 right-0 p-2 mt-0.5">
    <img src="<%= case
                  when item.name.downcase.include?('pilsner'), item.name.downcase.include?('base'), item.name.downcase.include?('vienna'), item.name.downcase.include?('mild ale'), item.name.downcase.include?('wheat'), item.name.downcase.include?('carapils')
                    cl_image_path("brewery_inventory/malt-low")
                  when item.name.downcase.include?('pale ale'), item.name.downcase.include?('munich'), item.name.downcase.include?('smoked'), item.name.downcase.include?('cara 50')
                    cl_image_path("brewery_inventory/malt-medium-light")
                  when item.name.downcase.include?('crystal'), item.name.downcase.include?('caramel'), item.name.downcase.include?('amber'), item.name.downcase.include?('biscuit'), item.name.downcase.include?('caraaroma')
                    cl_image_path("brewery_inventory/malt-medium-dark")
                  when item.name.downcase.include?('roasted'), item.name.downcase.include?('brown'), item.name.downcase.include?('black'), item.name.downcase.include?('chocolate'), item.name.downcase.include?('carafa'), item.name.downcase.include?('rye')
                    cl_image_path("brewery_inventory/malt-high")
                  else
                    cl_image_path("brewery_inventory/malt-medium-light")
                  end %>"
        alt="Malt" class="item-icon"/>
  </div>
</div>
