<p><%= link_to item.name, category_item_path(@category, item) %></p>
<p><%= item.origin %></p>
<p><%= item.supplier %></p>
<p><%= item.item_type %></p>
<p><%= number_with_precision(item.attenuation, precision: (item.attenuation % 1 == 0 ? 0 : 1)) %>%</p>

