<div class="header">
  <h1><%= @category.name %></h1>
  <%= link_to "X", root_path %>
</div>
<div class="items">
  <div class="item">
    <% if @items.any? %>
      <ul>
        <% @items.each do |item| %>
          <li>
            <div class="item-card">
              <% if item.category.name == 'Hops' %>
                <%= render 'hops_index', item: item %>
              <% elsif item.category.name == 'Malts' %>
                <%= render 'malts_index', item: item %>
              <% elsif item.category.name == 'Yeasts' %>
                <%= render 'yeasts_index', item: item %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="empty-category">
        <p>No <%= @category.name %> has been added yet.</p>
      </div>
    <% end %>
  </div>
</div>

<div class="add-item-button">
    <%= link_to "Add #{@category.name}", new_category_item_path(@category), class: "button" %>
</div>
