<div class="relative">
  <header class="<%= case @category.name
                     when "Hops" then "hops-header"
                     when "Malts" then "malts-header"
                     else "yeasts-header"
                     end %> p-5 flex items-center justify-between z-50 fixed top-0 left-0 w-full">
    <h1 class="text-gray-800 text-3xl mx-auto"><%= @category.name %></h1>
  </header>


  <div class="items p-4 relative bg-white z-10 content-container">
    <div class="item">
      <% if @items.any? %>
        <ul class="flex flex-col gap-4 mb-16">
          <% @items.each do |item| %>
            <li>
              <% if item.category.name == 'Hops' %>
                <%= render 'hops_index', item: item %>
              <% elsif item.category.name == 'Malts' %>
                <%= render 'malts_index', item: item %>
              <% elsif item.category.name == 'Yeasts' %>
                <%= render 'yeasts_index', item: item %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="empty-category">
          <p>No <%= @category.name %> has been added yet.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div data-controller="toast">
  <% if flash[:notice] %>
    <div id="flash-notice" data-toast-target="notice" class="z-50 fixed bottom-20 left-1/2 transform -translate-x-1/2 bg-white text-black text-md text-center px-8 py-2 border-4 border-gray-300 rounded-md transition-opacity duration-1000 ease-in-out opacity-0">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<footer class="bg-white p-2 flex items-center justify-center space-x-7 fixed bottom-0 left-1/2 transform -translate-x-1/2 shadow-top z-10 rounded-md w-1/2">
    <div class="">
      <%= link_to new_category_item_path(@category), class: "mx-auto" do %>
        <%= image_tag case @category.name
                      when 'Hops'
                        asset_path('hop-new.png')
                      when 'Malts'
                        asset_path('malt-new.png')
                      else
                      asset_path('yeast-new.png')
                      end,
                      class: "mx-auto w-14" %>
      <% end %>
    </div>
    <div class="">
      <%= link_to root_path, class: '' do %>
        <%= image_tag asset_path('back.png'), class: 'w-10' %>
      <% end %>
    </div>
</footer>
