<div class="header">
  <h1><%= @category.name %></h1>
  <%= link_to "X", root_path %>
</div>
<div class="items">
  <div class="item">
    <% if @items.any? %>
      <ul>
        <% @items.each do |item| %>
          <li>
            <div class="item-card">
              <p>Name: <%= link_to item.name, category_item_path(@category, item) %></p>
              <p>Quantity: <%= ActiveSupport::NumberHelper.number_to_delimited(item.quantity.to_i, delimiter: '.') %>g</p>
              <p>Price: $<%= ActiveSupport::NumberHelper.number_to_delimited(item.price.to_i, delimiter: '.') %></p>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="empty-category">
        <p>No <%= @category.name %> has been added yet.</p>
      </div>
    <% end %>
  </div>
</div>

<div class="add-item-button">
    <%= link_to "Add #{@category.name}", new_category_item_path(@category), class: "button" %>
</div>
