<!DOCTYPE html>
<html>
  <head>
    <title>BreweryInventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "tailwind", "application", "inter-font", "data-turbo-track": "reload" %>

    <%# <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins&display=swap" rel="stylesheet">
  </head>

  <body class="h-screen flex flex-col">
    <main class="flex-1 flex flex-col">
      <%= yield %>
      <dialog id="turbo-confirm" class="fixed mb-20 left-1/2 transform -translate-x-1/2 bg-white shadow-lg rounded-md p-6 w-11/12 max-w-sm border-gray-300 border">
        <form method="dialog" class="flex flex-col">
          <p class="text-gray-800 text-lg mb-4 text-center">Would you like to delete this item?</p>
          <div class="flex justify-between text-lg">
            <button value="cancel" class="px-4 py-2 bg-gray-100 text-gray-700 rounded-md hover:bg-gray-200">Cancel</button>
            <button value="confirm" class="px-4 py-2 bg-red-300 text-gray-700 rounded-md hover:bg-gray-200">Confirm</button>
          </div>
        </form>
      </dialog>
    </main>
  </body>
</html>
